

.header {
    text-align: center;
    font-size: 3em;
    color: white;
}

.startWrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    grid-column-start: 2
}

.startLocationInput {
    width: 40%;
    height: 60px;
    border: 3px solid #af5700 ;
    color: black;
    margin: 0 30%;
    margin-bottom: 3%;
}

.startLocationSearch {
    display: flex;
    margin-top: 3%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.buttonHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 40%;
}

.campStartBtn,
.hikeStartBtn {
    width: 40%;
    height: 50px;
    color: rgb(230, 228, 237);
    background-color: rgb(62, 39, 47);
    border: 1px solid white;
}

.campStartBtn:hover {
    color: #e8dddd;
    background-color: #af5700;
}

.hikeStartBtn:hover {
    color: #e8dddd;
    background-color: #af5700;
}

