.filterContainer {
  background-color: rgba(63, 39, 46, 0.75);
  color: white;
  display: grid;
  font-weight: 600;
  grid-row-start: 2;
  height: 100%;
  margin: 0 5%;
  padding: 10%;
} 

.formHeader {
  font-size: 1.2em;
  font-weight: 900;
  line-height: 30px;
  margin-top: 0;
}

.filterSection {
  margin-top: 25%;
}

.filterBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10%;
}

.filterBtn p {
  margin: 0;
}

.filterSubmit, 
.resetSubmit {
  font-weight: 900;
  height: 60px;
  margin: 15% 1%;
  width: 150px;
}

.filterSubmit:hover,
.resetSubmit:hover {
  background-color: #af5700;
  color: white;
}