.hikingCard{
    background-color: rgba(349, 250, 255, 0.90);
    border: #3e272f solid 4px;
    color: #3e272f;
    display: inline-grid;
    font-size: 1em;
    grid-column-start: 2;
    margin: 3% 18%;
    max-height: 1000px;
    padding: 7px;
    width: 70%;
}

.hikeName {
    border-bottom: 2px solid #3e272f;
    font-weight: 500;
} 

.hikeInfo {
    display: inline;
    columns: 2;
}

.favoriteButton,
.visitedButton,
.deleteButton {
    display: inline;
    height: 35px;
    margin: 0 10%;
    width: 13%;
}

.favoriteButton:hover,
.visitedButton:hover,
.deleteButton:hover,
.moreBtn:hover {
    background-color: #af5700; 
    color: white;
}