.hikingCard{
    border: #3e272f solid 2px;
    font-size: 15px;
    color: #3e272f;
    background-color: white;
    grid-column-start: 2;
    margin: 3% 18%;
    padding: 5px;
    height: 250px;
    width: 70%;
}

.hikeName {
    border-bottom: 2px solid #3e272f;
}